@import url("https://fonts.googleapis.com/css2?family=Golos+Text&family=Playfair+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Playfair Display", serif;
  background-image: url("https://lh3.googleusercontent.com/pw/AMWts8DuOA0w5tzVAS8F1IhrW45-zKeyQNoa87vwps6ZFBol1Q_U6gXToDhfIo78ZpKsyzVp6AtHqHcnqMWFIaUpDYhqj76peK1AEbrW4p4YVKj4-vgpkET1tmJ_dzRLOQLwrh6X3a_zY9VVE8yBL4xYe864=w876-h1528-s-no?authuser=0");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  padding-bottom: 5rem;
}

p,
span {
  font-family: "Golos Text", sans-serif;
}

h1 {
  text-transform: uppercase;
}
